# Goal

### To develop a methodology for predicting daily emergency department (ED) arrivals. The model will provide information which will do the following: 
   ###  •	 Reduce Employee costs (e.g. Drs, Nurses, PAs, Admin, etc.)
   ###  •    Reduce Drug Inventory costs (e.g. Stocking costs, Cost-of-Carry, etc)
   ###  •	 Reduce other operating costs (e.g. Utilities)

# Methods

### Using Gradient Boost & feature engineering, I will develop a prediction model to forecast the number of emergency department arrivals

# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression


%matplotlib inline

In [31]:
df = pd.read_csv('ED Arrival Data.csv',)

# EDA

In [32]:
df

,Shift Start Date,Day of Week,ED_Hospital_1_Shift1,ED_Hospital_1_Shift2,ED_Hospital_2_Shift1,ED_Hospital_2_Shift2
0,01/01/10,Fri,0.0,23.0,0.0,46.0
1,01/02/10,Sat,66.0,99.0,129.0,173.0
2,01/03/10,Sun,62.0,78.0,120.0,185.0
3,01/04/10,Mon,49.0,90.0,72.0,128.0
4,01/05/10,Tue,38.0,83.0,61.0,152.0
5,01/06/10,Wed,44.0,76.0,78.0,161.0
6,01/07/10,Thu,54.0,66.0,67.0,123.0
7,01/08/10,Fri,43.0,87.0,74.0,150.0
8,01/09/10,Sat,45.0,83.0,97.0,147.0
9,01/10/10,Sun,48.0,70.0,101.0,145.0
10,01/11/10,Mon,49.0,79.0,85.0,141.0
11,01/12/10,Tue,35.0,93.0,68.0,149.0
12,01/13/10,Wed,49.0,86.0,72.0,130.0
13,01/14/10,Thu,43.0,86.0,80.0,136.0
14,01/15/10,Fri,44.0,97.0,70.0,167.0
15,01/16/10,Sat,51.0,76.0,97.0,171.0
16,01/17/10,Sun,57.0,101.0,94.0,170.0
17,01/18/10,Mon,49.0,100.0,102.0,184.0
18,01/19/10,Tue,60.0,96.0,80.0,153.0
19,01/20/10,Wed,53.0,107.0,69.0,182.0
20,01/21/10,Thu,66.0,91.0,75.0,128.0
21,01/22/10,Fri,41.0,95.0,79.0,162.0
22,01/23/10,Sat,54.0,74.0,95.0,167.0
23,01/24/10,Sun,59.0,75.0,100.0,167.0
24,01/25/10,Mon,67.0,92.0,81.0,172.0
25,01/26/10,Tue,62.0,104.0,88.0,153.0
26,01/27/10,Wed,43.0,82.0,81.0,142.0
27,01/28/10,Thu,47.0,103.0,78.0,143.0
28,01/29/10,Fri,47.0,84.0,73.0,165.0
29,01/30/10,Sat,49.0,89.0,88.0,148.0
...,...,...,...,...,...,...
1799,12/05/14,Fri,96.0,137.0,114.0,228.0
1800,12/06/14,Sat,92.0,130.0,128.0,210.0
1801,12/07/14,Sun,100.0,121.0,140.0,190.0
1802,12/08/14,Mon,107.0,171.0,123.0,230.0
1803,12/09/14,Tue,109.0,139.0,132.0,214.0
1804,12/10/14,Wed,78.0,142.0,98.0,203.0
1805,12/11/14,Thu,99.0,160.0,106.0,204.0
1806,12/12/14,Fri,85.0,161.0,104.0,256.0
1807,12/13/14,Sat,103.0,162.0,143.0,248.0
1808,12/14/14,Sun,111.0,163.0,167.0,254.0
1809,12/15/14,Mon,127.0,204.0,130.0,253.0
1810,12/16/14,Tue,104.0,171.0,149.0,224.0
1811,12/17/14,Wed,109.0,175.0,133.0,206.0
1812,12/18/14,Thu,94.0,183.0,103.0,220.0
1813,12/19/14,Fri,93.0,175.0,95.0,230.0
1814,12/20/14,Sat,100.0,145.0,139.0,211.0
1815,12/21/14,Sun,118.0,147.0,165.0,241.0
1816,12/22/14,Mon,97.0,167.0,113.0,233.0
1817,12/23/14,Tue,80.0,143.0,93.0,181.0
1818,12/24/14,Wed,77.0,115.0,94.0,161.0
1819,12/25/14,Thu,58.0,116.0,92.0,199.0
1820,12/26/14,Fri,99.0,149.0,166.0,221.0
1821,12/27/14,Sat,93.0,139.0,140.0,211.0
1822,12/28/14,Sun,60.0,84.0,104.0,145.0
1823,12/29/14,Mon,60.0,100.0,67.0,137.0
1824,12/30/14,Tue,56.0,87.0,61.0,125.0
1825,12/31/14,Wed,45.0,66.0,57.0,78.0
1826,01/01/15,Thu,54.0,91.0,81.0,105.0
1827,NaN,NaN,NaN,NaN,NaN,NaN
1828,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df = df.drop(df.index[0]) #Drop the first row

In [46]:
df = df.drop(df.index[[-1,-2]])  #Drop the last 2 rows

In [47]:
df

,Shift Start Date,Day of Week,ED_Hospital_1_Shift1,ED_Hospital_1_Shift2,ED_Hospital_2_Shift1,ED_Hospital_2_Shift2
1,01/02/10,Sat,66.0,99.0,129.0,173.0
2,01/03/10,Sun,62.0,78.0,120.0,185.0
3,01/04/10,Mon,49.0,90.0,72.0,128.0
4,01/05/10,Tue,38.0,83.0,61.0,152.0
5,01/06/10,Wed,44.0,76.0,78.0,161.0
6,01/07/10,Thu,54.0,66.0,67.0,123.0
7,01/08/10,Fri,43.0,87.0,74.0,150.0
8,01/09/10,Sat,45.0,83.0,97.0,147.0
9,01/10/10,Sun,48.0,70.0,101.0,145.0
10,01/11/10,Mon,49.0,79.0,85.0,141.0
11,01/12/10,Tue,35.0,93.0,68.0,149.0
12,01/13/10,Wed,49.0,86.0,72.0,130.0
13,01/14/10,Thu,43.0,86.0,80.0,136.0
14,01/15/10,Fri,44.0,97.0,70.0,167.0
15,01/16/10,Sat,51.0,76.0,97.0,171.0
16,01/17/10,Sun,57.0,101.0,94.0,170.0
17,01/18/10,Mon,49.0,100.0,102.0,184.0
18,01/19/10,Tue,60.0,96.0,80.0,153.0
19,01/20/10,Wed,53.0,107.0,69.0,182.0
20,01/21/10,Thu,66.0,91.0,75.0,128.0
21,01/22/10,Fri,41.0,95.0,79.0,162.0
22,01/23/10,Sat,54.0,74.0,95.0,167.0
23,01/24/10,Sun,59.0,75.0,100.0,167.0
24,01/25/10,Mon,67.0,92.0,81.0,172.0
25,01/26/10,Tue,62.0,104.0,88.0,153.0
26,01/27/10,Wed,43.0,82.0,81.0,142.0
27,01/28/10,Thu,47.0,103.0,78.0,143.0
28,01/29/10,Fri,47.0,84.0,73.0,165.0
29,01/30/10,Sat,49.0,89.0,88.0,148.0
30,01/31/10,Sun,50.0,85.0,133.0,163.0
...,...,...,...,...,...,...
1797,12/03/14,Wed,93.0,163.0,105.0,216.0
1798,12/04/14,Thu,98.0,129.0,123.0,195.0
1799,12/05/14,Fri,96.0,137.0,114.0,228.0
1800,12/06/14,Sat,92.0,130.0,128.0,210.0
1801,12/07/14,Sun,100.0,121.0,140.0,190.0
1802,12/08/14,Mon,107.0,171.0,123.0,230.0
1803,12/09/14,Tue,109.0,139.0,132.0,214.0
1804,12/10/14,Wed,78.0,142.0,98.0,203.0
1805,12/11/14,Thu,99.0,160.0,106.0,204.0
1806,12/12/14,Fri,85.0,161.0,104.0,256.0
1807,12/13/14,Sat,103.0,162.0,143.0,248.0
1808,12/14/14,Sun,111.0,163.0,167.0,254.0
1809,12/15/14,Mon,127.0,204.0,130.0,253.0
1810,12/16/14,Tue,104.0,171.0,149.0,224.0
1811,12/17/14,Wed,109.0,175.0,133.0,206.0
1812,12/18/14,Thu,94.0,183.0,103.0,220.0
1813,12/19/14,Fri,93.0,175.0,95.0,230.0
1814,12/20/14,Sat,100.0,145.0,139.0,211.0
1815,12/21/14,Sun,118.0,147.0,165.0,241.0
1816,12/22/14,Mon,97.0,167.0,113.0,233.0
1817,12/23/14,Tue,80.0,143.0,93.0,181.0
1818,12/24/14,Wed,77.0,115.0,94.0,161.0
1819,12/25/14,Thu,58.0,116.0,92.0,199.0
1820,12/26/14,Fri,99.0,149.0,166.0,221.0
1821,12/27/14,Sat,93.0,139.0,140.0,211.0
1822,12/28/14,Sun,60.0,84.0,104.0,145.0
1823,12/29/14,Mon,60.0,100.0,67.0,137.0
1824,12/30/14,Tue,56.0,87.0,61.0,125.0
1825,12/31/14,Wed,45.0,66.0,57.0,78.0
1826,01/01/15,Thu,54.0,91.0,81.0,105.0

In [48]:
df.shape

(1826, 6)

In [52]:
df.columns

Index(['Shift Start Date', 'Day of Week', 'ED_Hospital_1_Shift1',
       'ED_Hospital_1_Shift2', 'ED_Hospital_2_Shift1', 'ED_Hospital_2_Shift2'],
      dtype='object')

In [55]:
df.dtypes

Shift Start Date         object
Day of Week              object
ED_Hospital_1_Shift1    float64
ED_Hospital_1_Shift2    float64
ED_Hospital_2_Shift1    float64
ED_Hospital_2_Shift2    float64
dtype: object

In [49]:
df.describe()

,ED_Hospital_1_Shift1,ED_Hospital_1_Shift2,ED_Hospital_2_Shift1,ED_Hospital_2_Shift2
count,1826.000000,1826.000000,1826.000000,1826.000000
mean,58.903614,105.392662,86.016977,162.841183
std,16.150508,20.528436,21.400505,28.096233
min,16.000000,25.000000,21.000000,33.000000
25%,47.250000,91.000000,71.000000,143.000000
50%,57.000000,104.000000,85.000000,161.000000
75%,68.000000,118.000000,99.000000,180.000000
max,128.000000,204.000000,181.000000,271.000000